<header>
  {{>loginbar }}
</header>

<main>
  <p>
    Unlocked Elements:
    {{#each elementsToCombine}}
      {{this.name}} {{#unless @last}} + {{/unless}}
    {{/each}}
  </p>

  <form>
    <select id="elementOne">
      <option value="" disabled selected> Select First Element to React </option>
      {{#each elementsToCombine}}
        <option value="{{this.name}}"> {{this.name}} </option>
      {{/each}}
    </select>

    <select id="elementTwo">
      <option value="" disabled selected> Select Second Element </option>
      {{#each elementsToCombine}}
        <option value="{{this.name}}"> {{this.name}} </option>
      {{/each}}
    </select>

    <button
    type="submit"
      class='react-button btn'
      data-elements="{{elementsJSON}}"
      data-current-user="{{currentUser}}">
        React!
    </button>
  </form>
</main>


<!-- Modal Structure -->
<div id="modalL" class="modal">
  <form class="modal-content" method="post" action="/login">
    <input name="username" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Log In</button>
    </div>
  </form>
</div>
<!-- Modal Structure -->
<div id="modalS" class="modal">
  <form class="modal-content" method="post" action="/sign-up">
    <input name="username" placeholder="username"/>
    <input name="password" type="password" placeholder="password"/>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat" type="submit">Sign Up</button>
  </div>
  </form>
</div>
