<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- NAME: profile.handlebars                                                   -->
<!-- DESCRIPTION: Handlebars file for laying out user profile.                  -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->


<!-- ====================== DISPLAY HEADER WITH LOGINBAR ====================== -->
<header>
  {{>loginbar }}
</header>

<!-- ================ DISPLAY MAIN CONTENT WITH ELEMENT TABLE ================= -->
<main>
  <h1> Your Progress </h1>
  {{#each unlockedElementsInTable}}
    <h5>{{this.name}} ({{this.abbrv}})</h5>
  {{/each}}

  <div class="periodic-table-wrapper">
    <ol class="periodic-table">
      {{#each elementsDictionary}}
        <ul data-element-group={{this.group}} data-element-id={{this.abbrv}} class="periodic-table-element">
          <h5>{{this.abbrv}}</h5>
        </ul>

        {{!-- {{#each unlockedElementsInTable}}

        {{/each}} --}}
      {{/each}}
      <ul style="grid-row: 5; grid-column: 5; width: 4.167vw; height: 4.167vw; text-align: center; padding-top: 10px; padding-left: 10px;">More elements coming soon...</ul>
    </ol>
  </div>
</main>