<!-- ========================================================================== -->
<!-- ========================================================================== -->
<!-- NAME: profile.handlebars                                                   -->
<!-- DESCRIPTION: Handlebars file for laying out user profile.                  -->
<!-- ========================================================================== -->
<!-- ========================================================================== -->


<!-- ====================== DISPLAY HEADER WITH LOGINBAR ====================== -->
<header>
  {{>loginbar }}
</header>

<!-- ================ DISPLAY MAIN CONTENT WITH ELEMENT TABLE ================= -->
<main>
  <h1 style="text-align: center;"> Your Periodic Table </h1>
  {{!-- {{#each unlockedElementsInTable}}
    <h5>{{this.name}} ({{this.abbrv}})</h5>
  {{/each}} --}}

  <div class="periodic-table-wrapper">
    <ol class="periodic-table">
      {{!-- {{#each elementsDictionary}} --}}
      {{#each unlockedElementsInTable}}
        <ul data-element-group={{this.group}} data-element-id={{this.abbrv}} data-target={{this.abbrv}} class="periodic-table-element modal-trigger">
          <h5>{{this.abbrv}}</h5>
        </ul>

        <div id={{this.abbrv}} class="modal elementalModal">
          <h2> {{this.name}} </h2>
          <h3> {{this.desc}} </h3>
          <div class="modal-footer">
            <button class="modal-action modal-close waves-effect waves-green btn-flat"> Close </button>
          </div>
        </div>

      {{/each}}
      <ul style="grid-row: 5; grid-column: 5; width: 4.167vw; height: 4.167vw; text-align: center; padding-top: 10px; padding-left: 10px;"> More elements coming soon... </ul>
    </ol>
  </div>

  <script>
    // Iterate through all elements in dictionary on page and check if they are unlocked...
    // If not unlocked, then add a class that greys them out.
    // If unlocked, then do nothing.

    /* for (let iterator = 0; iterator < unlockedElementsInTable.length; iterator++) {
      if (unlockedElementsInTable[iterator] in elementsDictionary) {
        break;
      } else {
        // Find the unlockedElementsInTable[iterator] element and add the "isLocked" class
        console.log("HELLO WORLD!");
      }
    } */

    $(function() {

    })
  </script>
</main>


{{!-- <div id="H" class="modal">
  <h2> Hydrogen </h2>
  <h3></h3>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
  </div>
</div>
<div id="He" class="modal">
  <h2> Helium </h2>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
  </div>
</div>
<div id="Li" class="modal">
  <h2> Lithium </h2>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
  </div>
</div>
<div id="Be" class="modal">
  <h2> Beryllium </h2>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
  </div>
</div> --}}

<div id="instructionsModal" class="modal">
  <h2> INSTRUCTIONS </h2>
  <h5>Welcome to the NUCLEUS: ELEMENTARY CHEMISTRY SANDBOX.</h5><br>
  <h6> Here's how to play: </h6>
  <h7><li> Select TWO ELEMENTS to combine them with a NUCLEAR FUSION! </li>
  <li> If you select only ONE ELEMENT, two atoms of that element will be FUSED TOGETHER! </li>
  <li> To check your elements and see what you've unlocked, go to MY PROGRESS in the navbar! </li></h7>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect waves-green btn-flat">Close</button>
  </div>
</div>